<ion-content >
		
	<ion-list>
		<ion-item href="#/detail" class="item-icon-left">
			<i class="icon ion-android-restaurant"></i>
		</ion-item>
		<ion-item href="#/detail" class="item-icon-left">
			<i class="icon ion-compose"></i>
		</ion-item>
		<ion-item href="#/detail" class="item-icon-left">
			<i class="icon ion-ios-lightbulb"></i>
		</ion-item>
		<ion-item href="#/detail">Dicas de Saúde</ion-item>
	</ion-list>

	<!--ion-list>
		<div ng-repeat="obj in categorias">
			<ion-item class="item-stable"ng-class="{active: isGroupShown(obj)}"
				ng-click="toggleGroup(obj)">
				  <i class="icon" ng-class="isGroupShown(obj) ? 'ion-minus' : 'ion-plus'"></i>			            
				  {{obj.descricao}}
			</ion-item>
			<ion-item class="item-accordion"ng-click="pesquisarSubAnuncio(obj.id)" ng-repeat="subcategoria in subcategorias" ng-show="isGroupShown(obj)">
			  {{subcategoria.descricao}}
			</ion-item>
	  	</div>
	</ion-list-->

</ion-content>